<% content_for :title do %>
	Home
<% end %>

<div class="navbar">
  <div class="navbar-inner">
  	<a class="brand" href="#">Welcome, <%= current_user.first_name %></a>
    <ul class="nav pull-right">
      <li class="divider-vertical"></li>
      <li><%= link_to "Log Out", logout_url, :method => :delete %></li>
    </ul>
  </div>
</div>

<% unless @friends.empty? %>
<h4>You have <%= link_to "#{@friends.count} #{@friends.count == 1 ? 'friend' : 'friends'}", user_friends_url(current_user) %></h4>
<% end %>

<% if @invites_recieved.count > 0 %>
	<table class="table table-bordered table-condensed margin10">
		<caption class="text-left">Notifications:</caption>
		<tbody>
			<% @invites_recieved.each do |recieved| %>
				<tr>
					<td><span class="text_bold"><%= recieved.name %></span> wants to be your friend</td>
					<td><%= simple_form_for @friendship,
										:url => friendship_url(recieved.id),
										:method => :put do |f| %>
								<%= f.submit 'Accept', :class => "btn btn-link invite-link-action" %>
							<% end %>
					</td>
					<td><%= link_to "Ignore", friendship_url(recieved.id),
									:method => :delete, :class => "btn btn-link invite-link-action" %>
					</td>
				</tr>
			<% end %><!-- end @invites_recieved.each -->
		</tbody>
	</table>
<% end %>

<table class="table table-bordered table-condensed margin10">
	<caption class="text-left">People you may want to add as a friend:</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<% unless @invites_recieved.include?(user) || @friends.include?(user) %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.email %></td>
					<% if @invites_sent.include?(user) %>
						<td>Invitation Sent!</td>
					<% else %>
						<td>
							<%= simple_form_for @friendship do |f| %>
								<%= f.input :friend_id, :as => :hidden,
														:input_html => { :value => user.id } %>
								<%= f.submit 'Add Friend', :class => "btn btn-small" %>
							<% end %>
						</td>
					<% end %>
				</tr>
			<% end %>
		<% end %><!-- end @user.invites_recieved.each -->
	</tbody>
</table>